body
    background #e8e8e8
    color #444
    font-family Arial
    font-size:16px

header
    background red
    height 4em
    left 0
    position relative
    top 0

    #logo-area
        background green
        height 100%
        left 0
        position absolute
        top 0
        width 30%

        figure
            background white
            border 1px dashed black
            height 35px
            margin-right 10px
            width 100px

    #menu-area
        background blue
        height 100%
        position absolute
        right 0
        top 0
        width 70%

        nav
            ul
                margin 0
                padding 0

                li
                    float left

                a
                    background orange
                    display block
                    padding 0 2em

.table
    display table

.cell
    display table-cell
    vertical-align middle


.left
    float left

.right
    float right