header-height = 4em

dark-gray     = #707070
light-gray    = #FAFAFA
gray-shadow   = #CCC
gray-border   = #E0E0E0

main-black    = #444
main-blue     = #29ABE2

custom-margin = 0.5em

body
    background #F7F7F7
    color main-black
    font-family Arial
    font-size 16px

#wrapper
    background white
    box-shadow 0 0 100px gray-shadow
    height auto
    margin 0 auto
    position relative
    width 75%

    header
        height header-height
        left 0
        padding 0.67em 0
        position relative
        top 0

        > div
            height header-height

        #logo-area
            line-height header-height
            text-align left
            width 25%

            h1
                font-size 2em
                margin 0 0 0 custom-margin

                a
                    color main-blue
                    text-decoration none

        #ads-area
            text-align right /* This will only work if the child block is an inline-block */
            width 75%

            aside
                background white
                border 1px dashed main-black
                border-radius 10px
                box-sizing border-box
                display inline-block
                height header-height
                margin-right custom-margin
                width 80%


    nav
        background light-gray
        border-top 1px solid gray-border
        border-bottom 1px solid gray-border
        height header-height
        line-height header-height
        right 0
        width 100%

        ul
            margin 0
            padding 0

            li
                float left

            a
                color main-black
                display block
                font-weight bold
                padding 0 2em
                text-decoration none
                transition all 0.2s ease-in-out

                &:hover
                    background main-blue
                    color white

    #main-area
        background white
        min-height 600px
        overflow hidden
        padding custom-margin
        position relative

    footer
        background main-blue
        border-top 1px solid gray-border
        padding 1em
        position relative
        text-align center

        ::selection
            background dark-gray

.left
    float left

.right
    float right

::selection
    background main-blue
    color white
    text-shadow none
