@import "normalize.styl"
@import "fonts.styl"

header-height = 5em
logo-height   = 2.5em
logo-width    = 190px
item-height   = 4em
arrow-width   = 2.5em

dark-gray     = #707070
gray-nav      = #FAFAFA
gray-body     = #F0F0F0
gray-border   = #E0E0E0

main-black    = #444
main-blue     = #29ABE2

custom-margin = 0.5rem

html
    background gray-body

a
    text-decoration none

body
    background white
    box-shadow 0 0 100px rgba(0,0,0,0.3)
    color main-black
    font-family Arial
    font-size 16px
    height auto
    margin 0 auto
    width 75%

    header
        height header-height
        left 0
        overflow hidden
        position relative
        top 0

        #logo
            height logo-height
            line-height logo-height
            margin 0
            text-align center
            overflow hidden
            width 190px

            a
                color main-blue

        #ads
            bottom custom-margin
            left logo-width
            margin-left custom-margin
            position absolute
            right custom-margin
            top custom-margin

    nav
        background gray-nav
        border-bottom 1px solid gray-border
        border-top 1px solid gray-border
        position relative

        ul
            // font-size 0 // Another way to fix inline block of items
            margin 0
            padding 0
            width 100%

            li
                display inline-block
                // font-size 1rem // Another way to fix inline block of items
                font-size 1em
                line-height item-height

            a
                color main-black
                display block
                font-weight bold
                padding 0 2em
                text-decoration none
                transition all 0.2s ease-in-out

                &:hover
                    background main-blue
                    color white

    #quotations
        background white
        min-height 600px
        overflow hidden
        padding custom-margin
        position relative

        article
            float left
            height auto
            overflow hidden
            width 50%

            blockquote
                border-left 3px solid gray-border
                line-height 2em
                padding-left 15px
                text-align justify

                &:before
                    display block
                    height 0
                    content "“"
                    margin-left -0.9em
                    font italic 4em Arial
                    color dark-gray

                footer // Overriding style of main footer
                    background transparent
                    border-top 0
                    font-style italic
                    overflow visible
                    padding 0
                    position static
                    text-align left

                    &:before
                        content "— "

        article:nth-child(n+3)
            border-top 1px solid gray-border

    footer
        background main-blue
        border-top 1px solid gray-border
        overflow hidden
        padding 1em
        position relative
        text-align center

        ::selection
            background white
            color main-black

.blue-box
    background main-blue
    border 2px dashed black
    border-radius 10px
    box-sizing border-box

.extra-box
    background rgba(0,0,0,0.65)
    color white
    display none
    height item-height
    line-height item-height
    position absolute
    right 0
    text-align center
    top 0
    transition all 0.2s ease-in-out
    width arrow-width
    z-index 1

    // &:hover
    //     background rgba(0,0,0,0.75)

.left
    float left

.right
    float right

::selection
    background main-blue
    color white
    text-shadow none

@media only screen and (max-width: 720px)
    body
        box-shadow 0 0 0 black
        transition all 0.2s ease-in-out
        width 100%

        header
            #logo
                margin 0 auto

            #ads
                display none

        nav
            #main-menu
                overflow-x auto
                white-space nowrap

        #quotations
            article
                float none
                width 100%

        article:nth-child(n+3)
            border-top 0

        article + article
            border-top 1px solid gray-border

    .extra-box
        display block

